body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    font-family: 'poppins', sans-serif;
}
div{
    position: relative;
}
#rangevalue{
    position: absolute;
    top: 2px;
    right: -60px;
    padding: 2px;
    width: 50px;
    box-sizing: border-box;
    background: #fff;
    text-align: center;

}
#rangevalue:before
{
content: '';
position: absolute;
top: 50%;
transform: translateY(-50%) rotate(45deg);
left: -5px;
width: 10px;
height: 10px;
background: #fff;
}
.range{
    width: 400px;
    height: 2px;
    background: #111;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px;
}
.range::-webkit-slider-thumb
{
-webkit-appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background: #00bcd4;
}